@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
	--laranja: hsl(31, 77%, 52%);
	--ciano_escuro: hsl(184, 100%, 22%);
	--ciano_mais_escuro_ainda: hsl(179, 100%, 13%);
	--branco_claro: #fff
}

* {
	margin: 0;
}

body {
	height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding: 40px 0px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	width: 65%;

	padding: 40px;
}

.car_img {
	width: 75px;

	margin-bottom: 40px;
}

.card_laranja {
	background-color: var(--laranja);

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.card_ciano_escuro {
	background-color: var(--ciano_escuro);
}

.card_ciano_muito_escuro {
	background-color: var(--ciano_mais_escuro_ainda);

	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.title {
	text-transform: uppercase;
	font-family: Big Shoulders Display;
	color: var(--branco_claro);
	font-size: 40px;

	margin-bottom: 40px;
}

.description {
	font-family: Lexend Deca;
	color: var(--branco_claro);
	font-size: 16px;
	line-height: 1.6;

	opacity: 0.6;
}

.button {
	max-width: 175px;

	padding: 16px 24px;
	margin-top: 40px;

	border-radius: 360px;
	border: 1px solid transparent;
}

.button:hover {
	border: 1px solid #fff;

	background-color: transparent;

	color: #fff;
}

.button:hover .button_text {
	color: #fff;
}

.button_text {
	font-size: 18px;
	font-family: Lexend Deca;
}

.buttonText_laranja {
	color:var(--laranja);
}

.buttonText_ciano_escuro {
	color:var(--ciano_escuro);
}

.buttonText_ciano_mais_escuro_ainda {
	color:var(--ciano_mais_escuro_ainda);
}

@media (min-width: 768px) {
	main {
		flex-direction: row;
		height: 100%;

		padding: 0px 100px;
	}

	.card {
		height: 500px;
		min-width: 200px;
		max-width: 300px;
	}
	
	.card_laranja {
		border-bottom-left-radius: 8px;
		border-top-right-radius: 0px;
	}

	.card_ciano_muito_escuro {
		border-top-right-radius: 8px;
		border-bottom-left-radius: 0px;
	}
}